.flexAlternate {
  gap: 5rem;
}

.flexAlternate:nth-child(odd) {
  flex-direction: row;

  .flexText {
    .textContent {
      .textBackground {
        transform: translateX(calc(100% + 8rem));
        background-color: #033980;
      }
    }
  }

  .numberAlternate {
    right: 0;

    .numberBackground {
      left: 100%;
    }
  }
}

.flexAlternate:nth-child(even) {
  flex-direction: row-reverse;

  .flexText {
    .textContent {
      .textBackground {
        transform: translateX(calc(-100% + -8rem));
        background-color: #033980;
      }
    }
  }

  .numberAlternate {
    left: 0;

    .numberBackground {
      right: 100%;
    }
  }
}
