.welcomeWrapper {
  .welcomeBg {
    transition: all 0.7s ease;
    transform: translateX(-100%);
    background: #033980de;
  }

  .welcomeText {
    transition: all 1.7s ease;
  }
}

.welcomeWrapper:hover {
  .welcomeBg {
    transform: translateX(0rem);
    transition: all 0.7s ease;
  }

  .welcomeText {
    color: #fcfeff;
  }
}
