.messageArea::-webkit-scrollbar {
  width: 20px;
}

.messageArea::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.messageArea::-webkit-scrollbar-thumb {
  background-color: theme('colors.blue_10');
  border-radius: 10px; /* rounded corners */
  border: 5px solid theme("colors.white_10");
  cursor: default;
}
