@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background: #f5f7fa;
  font-family: inter;
  overflow-x: hidden;
}

.upper,
.lower {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px -4px -50px rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/*svg {
  #spike,
  #cactus-1,
  #cactus-2,
  #soil-1,
  #soil-2,
  #background {
    fill: white;
  }

  #spike:hover {
    fill: #837b28;
  }

  #cactus-1:hover {
    fill: #2f8137;
  }

  #cactus-1:hover ~ #cactus-2 {
    fill: #18661B;
  }

  #cactus-2:hover {
    fill: #18661B;
  }

  #cactus-2:hover ~ #cactus-1 {
    fill: #2f8137;
    
  }
}
*/
#cactus-1,
#cactus-2,
#spike,
#soil,
#background-all,
#cactus-back {
  fill: theme('colors.white_10');
  transition: all 1s;
}

#spike,
#cactus-2,
#cactus-1 {
  path {
    fill: #edf1f7;
  }
}

.spike-active {
  #spike {
    fill: #90861c;
    transition: all 1s;
  }
}

.cactus-active {
  #cactus-1 {
    fill: #155817;
  }

  #cactus-back {
    fill: #3a6f3c;
  }
}

.soil-active {
  #soil {
    fill: #935f28;
  }
}

.all-skills-active {
  #soil {
    fill: #935f28;
  }

  #cactus-1 {
    fill: #155817;
  }

  #cactus-back {
    fill: #3a6f3c;
  }

  #spike {
    fill: #90861c;
    transition: all 1s;
  }
}
